__pycache__/
kafka/logs/
logs/
data/
analyses/
kafka/kafka*/
kafka/zookeeper*/
kafka/config/server*.properties
!kafka/config/server.properties
kafka/config/zookeeper*.properties
!kafka/config/zookeeper.properties
tests/input/
use-cases/app-testing/fraud-detection/training.csv
use-cases/reproducibility/networkTrafficAnalysis/__pycache__/
use-cases/reproducibility/networkTrafficAnalysis/logs/
use-cases/disconnection/millitary-coordination/logs
use-cases/disconnection/millitary-coordination/scripts/
use-cases/app-testing/millitary-coordination/
use-cases/app-testing/document-analytics/input-original.graphml
use-cases/app-testing/document-analytics/yamlConfig/consumerConfigurationHost1.yaml
use-cases/app-testing/document-analytics/yamlConfig/consumerConfigurationHost2.yaml
use-cases/app-testing/document-analytics/yamlConfig/consumerConfigurationHost3.yaml
use-cases/varying-networking-conditions/varying-link-latency/word-count/testbedResults/
use-cases/varying-networking-conditions/varying-link-latency/word-count/simulationResults/
use-cases/varying-networking-conditions/varying-link-latency/word-count/MFSTDataDir/
use-cases/varying-networking-conditions/varying-link-latency/word-count/input-original.graphml
use-cases/app-testing/document-analytics/demo/
use-cases/varying-networking-conditions/varying-link-bw/military-coordination/logs/
use-cases/varying-networking-conditions/varying-link-bw/word-count/MFSTDataDir/
use-cases/varying-networking-conditions/varying-link-bw/word-count/logs/
use-cases/varying-networking-conditions/varying-packet-loss/military-coordination/logs/
evaluation/accuracy-analysis/military-coordination/logs
evaluation/accuracy-analysis/cpu-intensive-app/
spark/spark-3.2.1/
spark/pyspark/
use-cases/reproducibility/networkTrafficAnalysis/logs/
use-cases/reproducibility/networkTrafficAnalysis/scripts/execTimePlot.py
use-cases/reproducibility/networkTrafficAnalysis/plots/
use-cases/app-testing/fraud-detection/trainedmodel/*
use-cases/app-testing/maritime-monitoring/maritime-mysql-bulk-sink-original.properties
use-cases/app-testing/ride-selection/input-temp.graphml
use-cases/app-testing/sentiment-analysis/data.csv
use-cases/app-testing/word-count/dataDir/randomText1.txt
use-cases/disconnection/military-coordination/scripts/
use-cases/reproducibility/networkTrafficAnalysis/scripts/
use-cases/reproducibility/videoAnalysis/scripts/
use-cases/varying-networking-conditions/varying-link-bw/military-coordination/plots/
use-cases/varying-networking-conditions/varying-link-bw/military-coordination/scripts/
use-cases/varying-networking-conditions/varying-link-bw/word-count/simulationScripts/
use-cases/varying-networking-conditions/varying-link-bw/word-count/input-original.graphml
use-cases/varying-networking-conditions/varying-link-latency/word-count/simulationScripts/use-cases/varying-networking-conditions/varying-link-latency/word-count/testbedScripts/
use-cases/varying-networking-conditions/varying-packet-loss/military-coordination/plots/
use-cases/varying-networking-conditions/varying-packet-loss/military-coordination/scripts/
evaluation/accuracy-analysis/military-coordination/plots/
evaluation/accuracy-analysis/military-coordination/scripts/\
testbed-results/
use-cases/reliability/message-loss/scripts/
use-cases/reliability/message-loss/logs/
use-cases/reliability/message-loss/plots/
use-cases/reliability/packet-loss/scripts/
use-cases/reliability/packet-loss/logs/
use-cases/reliability/packet-loss/plots/
use-cases/reliability/packet-loss/
use-cases/benchmarking/ESP/input-three-node-topo.graphml